<body>
<%= flash[:create] %>
<%= flash[:update] %>
 <p class ="title"><strong>Title:</strong> <%= @book.title %></p>

 <p class ="body"><strong>Body:</strong> <%= @book.body %></p>

 <p><%= link_to "Edit",edit_book_path(@book.id) %> |<a href ="/books">Back</a></p>
</body>